*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #6088b381 !important;
}

h1{
    text-align: center;
    margin: 50px auto 120px !important;
    color: #fff !important;

}

.main{
    width: 100%;
    min-height: 380px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.service{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    box-shadow: 0 0 20px -15px #030380;
    transition: transform 0.8s;
}

.service-logo{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0px;
    background: #fff;
    border: 18px solid #6088b381;
}

.service-logo i{
    width: 70px !important;
    margin-top: 12px;
    transition: transform 1s;
}

.service h4{
    height: 35px;
    width: 80%;
    background: #fff;
    margin: 50px auto;
    position: relative;
}

.service h4::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #fff, #6088b381 );
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
    transition: .5s;
}

.service h4::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #6088b381,  #fff);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
    transition: .5s;
}

.shadowOne{
    height: 200px;
    width: 80%;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: -1;
    box-shadow: 0 0 20px -15px #030380;
    transition: transform 0.8s;
}

.shadowTwo{
    height: 200px;
    width: 64%;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    z-index: -2;
}

.main:hover .service{
    transform: translateY(-50px);
}
.main:hover .shadowOne{
    transform: translateY(-25px);
}

.main:hover i{
    transform: rotate(360deg);
}